# PyCharm settings
.idea

# VSCode settings
.vscode

# DVC directory
.dvc

# Dataset
/dataset/

# Models
/models*/
/trained_models/
/models_lungs
/models_covid

# Cache files
__pycache__/
*.pyc

# W&B
wandb*/
